.fluid-span-1 {
  width: 12.5714285714%;
}

.fluid-span-2 {
  width: 27.1428571429%;
}

.fluid-span-3 {
  width: 41.7142857143%;
}

.fluid-span-4 {
  width: 56.2857142857%;
}

.fluid-span-5 {
  width: 70.8571428571%;
}

.fluid-span-6 {
  width: 85.4285714286%;
}

.fluid-span-7 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 14.5714285714%;
}

.fluid-offset-2 {
  margin-left: 29.1428571429%;
}

.fluid-offset-3 {
  margin-left: 43.7142857143%;
}

.fluid-offset-4 {
  margin-left: 58.2857142857%;
}

.fluid-offset-5 {
  margin-left: 72.8571428571%;
}

.fluid-offset-6 {
  margin-left: 87.4285714286%;
}

