.title {
    font-size: 30px;
    color:#ff0000;
    margin-bottom: 30px;
}

.comment {
    border: solid 3px #ff0000;
    font-size: 13px;
    color: #333333;
    background: #ffffff;
    width: 300px;
    height: 100px;
    padding: 20px;
    margin-bottom: 30px;
}
